name: Unit Tests

on:
  push:
    branches:
      - '**'  # This will trigger on all branches

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Protobuf Compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Run broker unit tests (bin)
        run: cargo test --bin danube-broker

      - name: Run library unit tests
        run: |
          cargo test --lib -p danube-client
          cargo test --lib -p danube-raft
          cargo test --lib -p danube-persistent-storage
